@model EStudyBase.Models.RegisterModel

@{
    ViewBag.Title = "Kayıt Ol";
}


<div id="divRegister">
    <div class="mainheader">
        <div class="sola" style="margin-top: 5px;">
            <h2>kayıt ol</h2>
        </div>
    </div>
    <div class="clear"></div>
    @using (Ajax.BeginForm("Register", "Account",
                                       new AjaxOptions
                                           {
                                               UpdateTargetId = "divRegister",
                                               InsertionMode = InsertionMode.Replace
                                           }, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
        if (ViewBag.Result != null)
        {
            if (!ViewBag.Result)
            {
                if (!string.IsNullOrWhiteSpace(ViewBag.ResultMessage))
                {
        <div class="alert alert-error">@ViewBag.ResultMessage</div>
                }
            }
            else
            {
                if (!string.IsNullOrWhiteSpace(ViewBag.ResultMessage))
                {
        <div class="alert alert-success">@ViewBag.ResultMessage</div>
                }
            }
        }

        <div class="control-group">
            @Html.LabelFor(model => model.UserName, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.UserName)
            </div>
            @Html.ValidationMessageFor(model => model.UserName)
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Email)
            </div>
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Password)
            </div>
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.ConfirmPassword)
            </div>
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>
        <div class="control-group">
            <div class="controls" style="margin-left: 322px;">
                <input type="submit" value="kayıt ol" class="yesil-buton" />
            </div>
        </div>
        <div class="clear"></div>
    }
</div>
